<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.tailai.mywiki.dao.BookMapper">
    <select id="searchBook" resultType="com.alibaba.fastjson.JSONObject" >
        select * from book
    </select>

</mapper>