<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.tailai.mywiki.dao.BookMapper">
    <select id="searchBook" resultType="com.alibaba.fastjson.JSONObject" >
        select * from book
    </select>

    <update id="editBook" parameterType="com.tailai.mywiki.model.Book">
        UPDATE book
        SET
        name = #{name},
        category = #{category},
        pic = #{pic}
        WHERE id = #{id}
    </update>

    <insert id="addBook" parameterType="com.tailai.mywiki.model.Book">

        INSERT INTO book (name, category, pic,id)
        VALUES (#{name}, #{category}, #{pic},#{id})
    </insert>

    <delete id="delBook" parameterType="com.tailai.mywiki.model.Book">

        delete from book where id = #{id}

    </delete>

    <select id="searchBookpara" resultType="com.alibaba.fastjson.JSONObject" >
        select * from book where 1=1
        <if test="name != null">
            AND name like CONCAT('%', TRIM(#{name}), '%')
        </if>
    </select>




</mapper>